:root {
  /* a variable that starts with [--] is a css custom properties */
  --color-primary: #eb2f64;
  --color-primary-light: #f36;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #333;
  --color-grey-light-2: #777;
  --color-grey-light-3: #999;
  --color-grey-dark-1: #faf9f9;
  --color-grey-dark-2: #f4f2f2;
  --color-grey-dark-3: #f0eeee;
  --color-grey-dark-4: #ccc;
}
