.section-about {
  background-color: $color-grey-lighter;
  padding: 25rem 0;
  /* negative margin moves the element to the way it was indicated (in this case, top) */
  margin-top: -20vh;

  @include respond(tab-portail) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  /* Linear gradient fill be fit before the real background image */
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../img/nat-4.jpg');
  margin-top: -20vh;
  transform: skewY(-7deg);

  /* You are selecting a direct child with [>], in this case, every one using [*] */
  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-portail) {
    padding: 15rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light;
  padding: 25rem 0 15rem;
  margin-top: -10rem;

  @include respond(tab-portail) {
    padding: 20rem 0 10rem;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include respond(tab-portail) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  /*
    On this scenario, you want to make look the element with a part on almost white and transparent
    For this case, you will use a more advanced configuration for [linear-gradient]:
      linear-gradient(
        - here goes the line where will start the gradient, it can be with indication or using degrees
        - here goes a list of colours that can be put on different stages of the element,
          - almost transparent white at start
          - almost transparent white at first half
          - transparent for the other half
        (the list can be as long configured as you want)
      )
  */
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url('../img/nat-10.jpg');
  background-size: cover;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
