.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  /* To set opacity on story background, it is a good idea to user rgba and its opacity value */
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  /*
    Remember you can modify the element shape with skewX
    But the rest of its children elements must have an inverse skewX value to be shown as the original
  */
  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    /*
      When you want to make elements fits around a shape, you can use the [shape-outside] property
      For this exercise, we assigned a circle shape, which has the following arguments
      - Which is going to be its radius. With 50% at 50% (X and Y axis), you are taking half of element's size, giving the original total size
      - Then you assign circle's center, on this case is at shape's half (perfect center)
      () It only works on floating elements
    */
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    /* To move a shaped element, the best advide is to use a transform+translate instead margins or paddings */
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }

  &__img {
    /* The image inside a shape element should use a width and height at 100% to be fit iside */
    width: 100%;
    height: 100%;
    transform: scale(1.4);
    /* A common solution for transition issues is using [backface-visibility] to hidder */
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    /* Initial opacity state (it will no be shown) */
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  /* Once you hover the shape, its caption will have full opacity and move to other direction */
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: scale(1);
    /* [filter] is used to generate different changes to an element */
    filter: blur(3px) brightness(80%);
  }
}
