.realtors {
  background-color: $color-secondary;
  /*
    [grid-column] value is setted like this
      grid-column: [in_which_column_part_will_start] / [in_which_column_part_will_end]
    Doing it like this makes code more readable to new users (having the name asignations at hand)
  */
  grid-column: col-start 7 / full-end;
}
