body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  /* Is 1.7 times the default font size */
  line-height: 1.7;
  color: $color-grey-dark;
  /* 1rem = root font-size, therefore is 10px */
  /* Is better to use rem than em because em depends on root document and parent element's font size */
  /* Just to be sure, rem does not work on browsers like Internet Explirer 9 or before */
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  padding-bottom: 2rem;

  &--main {
    /* Block elements take all screen's width and create a whitespace */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    /* Determines the space between each letter */
    letter-spacing: 3.5rem;
    /* You set the animation for this element */
    animation-name: move-in-left;
    /* And its duration */
    animation-duration: 2s;
    /* The animation will wait 3 seconds before start working */
    /* animation-delay: 2s; */
    /* How many times the animation will happen */
    /* animation-iteration-count: 2; */
    /* You can add all mentioned properties with animation */
    /* animation: move-in-left 1s; */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: move-in-right;
    animation-duration: 2s;
  }
}
